html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */

:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol,
ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

/*@import url(modules/contacs.less);
*/

.text__standart {
  font-family: OpenSans;
  font-size: 12px;
  color: #868686;
}

.m--text__standart-white {
  font-family: OpenSans;
  font-size: 12px;
  color: #ffffff;
}

.text__menu {
  font-family: 'OpenSansSemibold';
  color: #ffffff;
  text-transform: uppercase;
  font-size: 11pt;
}

.m--text__menu-black {
  color: #000000;
}

.navigationMenu {
  height: 105px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navigationMenu__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 48px;
  -ms-flex-preferred-size: 615px;
  flex-basis: 615px;
}

.navigationMenu__socialNetworksIcons {
  margin-right: 7px;
  min-width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.centralPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 47px;
  -ms-flex-preferred-size: 666px;
  flex-basis: 666px;
  height: 105px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.centralPanel__radioLogo {
  min-width: 128px;
  margin-left: 41px;
  height: 82px;
}

.centralPanel__streamPlayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 44px;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.playButton {
  color: white;
  font-size: 38px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 12px;
  margin-left: 15px;
}

.playButton:hover {
  color: #dd161d;
}

.onAir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.onAir__title {
  margin-left: 10px;
  min-width: 95px;
}

.onAir__title p {
  display: inline;
}

.onAir__songName {
  margin-left: 5px;
  max-width: 135px;
}

.onAir__songName p {
  display: inline;
}

.menuHamburgerButton {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  z-index: 2;
}

.menuHamburgerButton:focus {
  outline: none;
}

.menuHamburgerButton span {
  display: block;
  position: absolute;
  top: 18px;
  left: 7px;
  right: 0px;
  height: 3px;
  background: white;
  width: 25px;
}

.menuHamburgerButton span::before,
.menuHamburgerButton span::after {
  position: absolute;
  display: block;
  left: 0px;
  width: 25px;
  height: 3px;
  background-color: #fff;
  content: "";
}

.menuHamburgerButton span::before {
  top: -8px;
}

.menuHamburgerButton span::after {
  bottom: -8px;
}

.menuHamburgerButton {
  background-color: rgba(196, 42, 37, 0.7);
}

.menuHamburgerButton span {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}

.menuHamburgerButton span::before,
.menuHamburgerButton span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}

.menuHamburgerButton span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}

.menuHamburgerButton span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}

.menuHamburgerButton.js-menuHamburgerButton-active {
  background-color: white;
}

.menuHamburgerButton.js-menuHamburgerButton-active span {
  background: none;
}

.menuHamburgerButton.js-menuHamburgerButton-active span::before {
  top: 0;
  background-color: #dd161d;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menuHamburgerButton.js-menuHamburgerButton-active span::after {
  bottom: 0;
  background-color: #dd161d;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menuHamburgerButton.js-menuHamburgerButton-active span::before,
.menuHamburgerButton.js-menuHamburgerButton-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 19px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.menu__list li:not(:first-child)::before {
  content: '|';
  margin-left: 19px;
  margin-right: 19px;
}

.menu__list li a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu__list li a:hover {
  color: #f71305;
}

.socialNetworksIconsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.googlePlayIcon {
  width: 19px;
  height: 17px;
  background-image: url(../images/googlePlayIcon-red.png);
  margin-left: 15px;
  background-repeat: no-repeat;
  position: relative;
}

.googlePlayIcon-fade {
  width: 19px;
  height: 17px;
  background-image: url(../images/googlePlayIcon-white.png);
  margin-left: 15px;
  background-repeat: no-repeat;
  position: absolute;
  top: 44px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.googlePlayIcon-fade:hover {
  opacity: 0;
}

.googlePlayIcon-fade.m--googlePlayIcon-black {
  background-image: url(../images/googlePlayIcon-black.png);
}

.vkIcon {
  width: 33px;
  height: 19px;
  background-image: url(../images/vkIcon-red.png);
  margin-left: 15px;
  background-repeat: no-repeat;
  position: relative;
}

.vkIcon-fade {
  width: 33px;
  height: 19px;
  background-image: url(../images/vkIcon-white.png);
  margin-left: 15px;
  background-repeat: no-repeat;
  position: absolute;
  top: 43px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.vkIcon-fade:hover {
  opacity: 0;
}

@media (max-width: 1436px) {
  .centralPanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 47px;
    max-width: 430px;
    height: 105px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }

  .centralPanel__radioLogo {
    min-width: 128px;
    margin-left: 41px;
    height: 82px;
  }

  .centralPanel__streamPlayer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 44px;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .navigationMenu {
    height: 105px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .navigationMenu__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
    -ms-flex-preferred-size: 0px;
    flex-basis: 0px;
  }

  .navigationMenu__socialNetworksIcons {
    margin-right: 7px;
    min-width: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .centralPanel {
    display: none;
    margin-left: 47px;
    max-width: 430px;
    height: 105px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }

  .centralPanel__radioLogo {
    min-width: 128px;
    margin-left: 41px;
    height: 82px;
  }

  .centralPanel__streamPlayer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 44px;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}